<html>
    <head>
        <title>Kind Cloud - {% block title %}{% endblock %}</title>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="content">
            {% block content %}
            {% endblock %}
            <div class="footer">
                <a href="https://github.com/imann24/kind_cloud">
                    <i class="fa-brands fa-github"></i>
                    Source Code
                </a>
            </div>
        </div>
    </body>
</html>
