<html>
    <head>
        <title>Kind Cloud - {% block title %}{% endblock %}</title>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
