{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Create{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'create.css' %}">
{% endblock %}

{% block content %}
    <dialog id="conduct">
        <h2>Code of Conduct</h2>
        <form method="dialog">
            <ol>
                <li>Be kind</li>
                <li>Share a positive message</li>
                <li>Don't reveal personal information</li>
            </ol>
            {% bootstrap_button button_type="submit" content="Accept" %}
        </form>
    </dialog>
    {% bootstrap_button button_type="link" content="<i class='fas fa-arrow-left'></i> Back" button_class="btn btn-secondary btn-sm mb-3" href="/" %}
    <form action="/create/" method="post" id="create-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="<i class='fas fa-cloud'></i> Share" %}
    </form>
    <script src="{% static 'create.js' %}"></script>
{% endblock %}
