{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}All{% endblock %}

{% block content %}
    <ul class="sky">
        {% for kind in kinds %}
            <li class="cloud">
                {{kind.text}}
                <div class="vote-button-container">
                    {% url 'upvote' kind.id as upvote_url %}
                    {{kind.votes}}
                    {% bootstrap_button button_type="link" content="<i class='fa-solid fa-thumbs-up'></i>" href=upvote_url button_class="btn btn-primary btn-sm" %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="d-grid gap-2 create-button-container">
        {% bootstrap_button button_type="link" content="<i class='fas fa-cloud'></i> Add" href="/create" button_class="btn btn-primary opacity-75" %}
    </div>
{% endblock %}
