body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Patrick Hand';
}
.content {
    padding: 1rem;
}

.footer {
    position: fixed;
    border-top-left-radius: 0.75rem;
    bottom: 0;
    right: 0;
    width: 10rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    background: #fff;
    border-top: 1px solid #ccc;
}

.footer a {
    color: #000 !important;
}

.footer a:hover {
    color: slategray !important;
}
